{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>

<body>
    <div id="header">
        <div id="logo"><a href="/" style="text-decoration: none; color: #fff;">Socket Chat</a></div>
        {% if not request.user.is_authenticated %}
            <a href="{% url "login" %}" class="button">Sign In</a>
        {% else %}
            <a href="{% url "logout" %}" class="button">Sign Out</a>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    {% block include_js %}{% endblock include_js %}

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            {% block domready %}{% endblock domready %}
        })
    </script>
</body>

</html>