{% extends "base.html" %}

{% block title %}
    Chats
{% endblock title %}

{% block menu %}
    <a href='{% url 'chat:create' %}' class="button" style="margin-right: 0.3em">Create Chat</a>
{% endblock menu %}

{% block content %}
    <div id="chat-list">
        <h2>Chats</h2>
        <div id="search">
            <form action="{% url "chat:search" %}" method="post">
                {% comment %} <input type="text" name="search" placeholder="Search"> {% endcomment %}
                {{ search_form }}
                {% csrf_token %}
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="chats">
            <ul>
                {% for chat in chats %}
                <a href="{% url "chat:detail" chat.id %}">
                    <li>
                        {{ chat.title }}
                        {% if request.user in chat.members.all %}
                        <span style="color: #333; float: right">Joined</span>
                        {% endif %}
                    </li>
                </a>
                {% empty %}
                <p>No Chats</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}